.device-wrapper {
  margin: 2px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 0.3em;
  display: inline-block;
}

.device-header {
  background-color: whitesmoke;
  padding: 2px;
  display: flex;
  align-items: center;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-bottom: 2px solid black;
}

.device-name {
  display: inline-block;
}

.device-led {
  background-color: white;
  color: whitesmoke;
  line-height: 20px;
  font-size: 56px;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
  height: 20px;
  width: 20px;
}

.device-led-active {
  background-color: yellow;
  color: rgb(0, 192, 0);
}

.device-controls-wrapper {
  display: inline-block;
  padding: 2px;
}

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

.react-switch:active {
  color: aqua;
}

.device-pin-switch-wrapper {
  margin: 2px;
}

.device-pin-switch-value {
  margin: 2px;
  border: 2px solid black;
  padding: 4px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  width: 30px;
}
