#!/bin/bash

SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )
cd "${SCRIPT_DIR}/../"

PROJ_ROOT="$(pwd)"

# module
FE_MODULE_NAME="cmd-fe.alone"
FE_MODULE_PATH="${PROJ_ROOT}/src/common_modules/cmd-explorer/${FE_MODULE_NAME}"
FE_MODULE_STATIC_PATH="${FE_MODULE_PATH}/dist/static"

# project
PROJ_STATIC_PATH="${PROJ_ROOT}/dist/static"
PROJ_FE_MODULE_STATIC_PATH="${PROJ_STATIC_PATH}/${FE_MODULE_NAME}"
